version: "3.2"

services:
  postgres:
    restart: "no"
    environment:
      POSTGRES_DB: mobilizon_test
  api:
    restart: "no"
    environment:
      MIX_ENV: "test"
      MOBILIZON_DATABASE_DBNAME: mobilizon_test
      MOBILIZON_INSTANCE_HOST: mobilizon.test
    entrypoint: ["sh", "-c", "echo 'Waiting for postgres...' && while ! pg_isready -h postgres -p 5432 -U mobilizon; do sleep 1; done && exec \"$@\"", "--"]
volumes:
  pgdata:
  .:
